Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  bugprone-branch-clone,
  bugprone-empty-catch,
  bugprone-exception-escape,
  bugprone-misplaced-widening-cast,
  bugprone-narrowing-conversions,
  bugprone-return-const-ref-from-parameter,
  bugprone-suspicious-include,
  bugprone-unused-local-non-trivial-variable,
  cppcoreguidelines-pro-type-member-init,
  performance-inefficient-string-concatenation,
  performance-move-const-arg,
  performance-unnecessary-copy-initialization,
  readability-misleading-indentation,
  readability-redundant-casting

WarningsAsErrors: ''
HeaderFilterRegex: '^(.*[\\/])?src[\\/].*'
FormatStyle: none
SystemHeaders: false
